[submodule "extern/drgn"]
  path = extern/drgn
  url = https://github.com/JakeHillion/drgn.git
[submodule "extern/folly"]
  path = extern/folly
  url = https://github.com/jgkamat/folly.git
[submodule "extern/rocksdb"]
  path = extern/rocksdb
  url = https://github.com/facebook/rocksdb.git
