## OI specific
build/
test/integration_mttest
test/integration_sleepy
test/.autogen-*
oi_preprocessed
*_test.oid
oid_out.json
compile_commands.json
oid_metrics.json
Testing
*.o
PADDING
failed
website/node_modules

## Vim
*.swp
*.swo
